body, body.running-line {
  overflow-x: hidden;
  font-size: 1vw;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 3000;
}

body.running-line {
  background-color: #662483;
}

body.scheme {
  background-color: #473521;
}

.white {
  color: white;
}


.inscription {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  margin-top: 20px;
  color: white;
}

.menu-content {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 50px;
  font-size: 13px;
}
.collapsible-menu {
  width: 100%;
  /* position: fixed; */
  z-index: 1000;
  align-self: flex-end;
  background-size: 1%;
  background-position: 94%;
  background-color: transparent;
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display:block;
  padding: 10px;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

#white {
  color: white;
}

a.white:hover {
  text-decoration: underline;
}

li {
  cursor: pointer;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.collapsible-menu label {
  right: 4%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  margin-right: 4.5%;
  display: block;
  cursor: pointer;
  background: url('../images/burger-black.png') no-repeat left center;
  background-size: 1%;
  background-position: 94%;
  padding: 10px 0 10px 50px;
}

#white {
  background: url('../images/burger-white.png') no-repeat left center;
}

input#menu {
    display: none;
}

/* --------------------------- */

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    /* padding: 0 0 0 50px; */
    /* position: absolute; */
    margin-right: 3%;
}
/* Эффект переключения*/
input:checked ~ label {
    background-image: url("../images/cross.png");
    background-position: 94%;
    background-size: 0.8%;
}

input:checked.white ~ label {
    background-image: url("../images/cross-white.png");
}

input:checked ~ .menu-content {
    max-height: 100%;
    /* transition: all 0.7s ease; */
}

/* ----------------------------------- */



header.running-line a {
  color: black;
}

main {
  padding-right: 10vw;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

header, header.running-line, header.scheme {
  background-color: white;
  /* width: 100%; */
  /* position: fixed; */
  padding: 10px 53px 15px 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  border-bottom: 1px solid black;
  z-index: 20;
}

header.running-line {
  background-color: #EFE9F4;
}

header.scheme {
  background-color: #473421;
}

.image-header {
 position: absolute;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 z-index: -100;
 /* margin-top: -98px; */
}

img.header-running-line {
  width: 130%;
  margin-top: 150px;
  position: absolute;
  margin-left: -70%;
  transform: rotate(45deg);
}
img.header-running-line2 {
  width: 130%;
  margin-top: 650px;
  position: absolute;
  margin-left: -5%;
  transform: rotate(-37deg);
}
img.header-running-line3 {
  width: 130%;
  margin-top: -30px;
  margin-left: 4%;
  position: absolute;
  transform: rotate(53deg);
}

img.header-running-line4 {
  width: 130%;
  margin-top: -10px;
  position: absolute;
  margin-left: -30%;
  transform: rotate(-32deg);
}

.header-menu a:first-of-type {
  margin-right: 40px;
}

.header-menu {
  padding-top: 1rem;
  /* right: 5.5%; */
  /* width: 23vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: white; */
  z-index: 1000;
}

a.checkbox-a:hover {
  text-decoration: underline;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a.header {
  /* margin-right: 2%; */
  line-height: 1;
  display: inline-block;
  color: black;
  text-decoration:none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

a.header:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: black;
  transition: width .3s ease-in-out;
}



a.header:hover:after,
a.header:focus:after {
    width: 100%;
}

a.header-logo {
  display: inline-block;
  -webkit-text-stroke: 0.7px black;
  font-family: "AnonymousPro-Bold", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  /* margin-left: 2%; */
}

body.running-line a.header-logo {
  color: #662483;
  -webkit-text-stroke: 0.7px black;
}

body.scheme a.header-logo {
  color: #473421;
}

body.running-line a.header-logo:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

body.scheme a.header-logo:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

a.header-logo:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

.header-img {
  /* position: absolute; */
  /* margin: -10%; */
  /* right: -4%; */
  /* margin:auto; */
  /* margin-top:-10px; */
  width: 100vw;
  /* margin-bottom: 20vw; */
}

.logo-way {
  margin-bottom: 40px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.logo-way {
  margin-bottom: -120px;
  /* padding-left: 130px;
  padding-right: 130px; */
  margin-top: -10px;
}

.poster,
h2,
p,
h6,
.logo-way,
.poster2,
h3,
h4,
.h2-right,
.document-running-line,
.running-line-mockup,
.poster-running-line,
.poster-running-line2,
.poster-sheme {
  width: 64vw;
  margin: 0 auto;
}

p {
  font-size: 1.3rem;
  line-height: 170%;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: auto;
  /* margin-top: 50vh; */
  width: 64vw;
}
.poster-running-line {
  margin-top: 60vh;
}

.poster-sheme {
  margin-top: 40px;
}

.poster-running-line img,
.poster-sheme img {
  width: 45%;
  height: 45%;
  margin-bottom: 40px;
}

.poster-running-line2 img {
  width: 47.5%;
  height: 47.5%;
  margin-bottom: 40px;
}

.this-is-me {
  width: 64vw;
  align-self: center;
}

.running-line-mockup {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.running-line-mockup-img1 {
  flex-grow: 1;
  width: 27.3%;
  height: 27.3%;
  margin-right: 40px;
}

.running-line-mockup-img2 {
  flex-grow: 2;
  width: 30%;
  height: 30%;
}

.document-running-line {
  margin-top: 40px;
}

.h2-right {
  text-align: right;
  margin-top: 140px;
}

main .poster,
.poster2,
.poster-running-line,
.poster-running-line2,
.poster-sheme
 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.poster img {
 width: 50%;
 margin-top: 120px;
 margin-bottom: 40px;
}

body.running-line .poster img {
 width: 400px;
 height: 545px;
 margin-bottom: 40px;
}

.poster2 img {
  margin-top: 40px;
  width: 47%;
  height: 47%;
}

.logo-way img {
  width: 50%;
  height: 50%;
}

/* h6 {
  display: block;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: right;
  /* margin: 0 auto; */
  margin-top: -20px;
  /* margin-right: -70%; */
  transform: rotate(-90deg);
  margin-top: 23vh;
  margin-left: 51vw;
} */

/* h6.top {
  margin-top: 0vh;
  margin-left: 51vw;
} */

p {
  font-size: 2rem;
  line-height: 170%;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 0 auto;
}

p.near-with {
  margin-bottom: 40px;
}

h2 {
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h3 {
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h4{
  margin-top: 180px;
  margin-bottom: 40px;
  margin-left: 14vw;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 70px;
}

body.running-line main h3 {
  margin-top: 27vh;
  margin-left: 15vw;
  line-height: 70px;
}

.poster-mockup,
.poster-mockup2 {
  display: block;
  margin: 0 auto;
  width: 64vw;
}
.poster-mockup:first-of-type {
  margin-bottom: 40px;
}

.poster-mockup2 {
  margin-top: 40px;
}

.connector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vw;
  position: fixed;
  top: 75%;
  margin-left: 2%;
  z-index: 10;
}

.connector img {
  width: 22px;
}

img.main-logo {
  width: 60vw;
  margin: 0 auto;
  margin-top: -65px;
}

/* h6.fin-logo {
  margin-top: -7vh;
} */

.footer, .footer-running-line,
.footer-sheme {
  text-decoration: none;
  width: 40vw;
  display: block;
  text-align: center;
  /* width: 400px; */
  background-color: white;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  border-bottom: 1px solid black;
  align-self: center;
  z-index: 20;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}

.footer-running-line {
  background-color: #662483;
}

.footer-sheme {
  background-color: #473521;
}


.footer:after, .footer-running-line:after,
.footer-sheme:after {
  display: block;
  content: "";
  height: 1.5px;
  margin-top: 6px;
  width: 0%;
  background-color: black;
  transition: width .3s ease-in-out;
}

.footer:hover:after,
.footer:focus:after,
.footer-running-line:hover:after,
.footer-running-line:focus:after
.footer-sheme:hover:after,
.footer-sheme:focus:after {
  width: 100%;
}

iframe.after-effect {
  margin: 0 auto;
  width: 64vw;
  height: 75vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

footer {
  display: flex;
  flex-direction: column;

}

footer h5, footer h6 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

footer h5 {
  margin-top: 100px;
  font-size: 0.8rem;
}

footer h6 {
  font-size: 10px;
  margin-top: 10px;
  font-weight: 600;
  line-height: 200%;
}

img.sheme  {
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
}

body.scheme main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
}


@media (min-width: 1020px) and (min-height: 1366px) {
  .connector {
    top: 57%;
  }
}
