body, body.running-line {
  overflow-x: hidden;
}

body.running-line {
  background-color: #662483;
}

body.scheme {
  background-color: #473421;
}

main {
  padding-right: 10vw;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

header, header.running-line, header.scheme {
  background-color: white;
  width: 100%;
  position: fixed;
  padding: 10px 53px 15px 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  border-bottom: 1px solid black;
  z-index: 20;
}

header.running-line {
  background-color: #662483;
}

header.scheme {
  background-color: #473421;
}

.image-header {
 position: absolute;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}

img.header-running-line {
  width: 130%;
  margin-top: 150px;
  position: absolute;
  margin-left: -70%;
  transform: rotate(45deg);
}
img.header-running-line2 {
  width: 130%;
  margin-top: 650px;
  position: absolute;
  margin-left: -5%;
  transform: rotate(-37deg);
}
img.header-running-line3 {
  width: 130%;
  margin-top: -30px;
  margin-left: 4%;
  position: absolute;
  transform: rotate(53deg);
}

img.header-running-line4 {
  width: 130%;
  margin-top: -10px;
  position: absolute;
  margin-left: -30%;
  transform: rotate(-32deg);
}

.header-menu {
  padding-top: 18px;
  padding-right: 110px;
  width: 23vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a.header {
  line-height: 1;
  display: inline-block;
  color: black;
  text-decoration:none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

a.header:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: black;
  transition: width .3s ease-in-out;
}

a.header:hover:after,
a.header:focus:after {
    width: 100%;
}

a.header-logo {
  display: inline-block;
  -webkit-text-stroke: 0.7px black;
  font-family: "AnonymousPro-Bold", sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

body.running-line a.header-logo {
  color: #662483;
}

body.scheme a.header-logo {
  color: #473421;
}

body.running-line a.header-logo:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

body.scheme a.header-logo:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

a.header-logo:hover {
  color: black;
  transition: 0.3s ease-in-out;
}

.header-img {
  margin: -10%;
  margin-right: -9%;
  /* margin:auto; */
  margin-top:-10px;
  width: 115vw;
}

.logo-way {
  margin-bottom: 40px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.logo-way {
  margin-bottom: -120px;
  /* padding-left: 130px;
  padding-right: 130px; */
  margin-top: -10px;
}

.poster,
h2,
p,
h6,
.logo-way,
.poster2,
h3,
.h2-right,
.document-running-line,
.running-line-mockup {
  width: 64vw;
  margin: 0 auto;
}

.running-line-mockup {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.running-line-mockup-img1 {
  flex-grow: 1;
  width: 27.3%;
  height: 27.3%;
  margin-right: 40px;
}

.running-line-mockup-img2 {
  flex-grow: 2;
  width: 30%;
  height: 30%;
}

.document-running-line {
  margin-top: 40px;
}

.h2-right {
  text-align: right;
  margin-top: 140px;
}

main .poster, .poster2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.poster img {
 width: 400px;
 height: 545px;
 margin-top: 200px;
 margin-bottom: 40px;
}

.poster2 img {
  margin-top: 40px;
  width: 47%;
  height: 47%;
}

.logo-way img {
  width: 50%;
  height: 50%;
}

h6 {
  display: block;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: right;
  /* margin: 0 auto; */
  margin-top: -20px;
  /* margin-right: -70%; */
  transform: rotate(-90deg);
  margin-top: 23vh;
  margin-left: 51vw;
}

h6.top {
  margin-top: 0vh;
  margin-left: 51vw;
}

p {
  font-size: 21px;
  line-height: 170%;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 0 auto;
}

p.near-with {
  margin-bottom: 40px;
}

h2 {
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h3 {
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

body.running-line main h3 {
  margin-top: 27vh;
  margin-left: 16vw;
  line-height: 70px;
}

.poster-mockup {
  display: block;
  margin: 0 auto;
  width: 64vw;
}
.poster-mockup:first-of-type {
  margin-bottom: 40px;
}

.connector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vw;
  position: fixed;
  margin-top: 36%;
  margin-left: 2%;
  z-index: 10;
}

.connector img {
  width: 22px;
}

img.main-logo {
  width: 60vw;
  margin: 0 auto;
  margin-top: -65px;
}

h6.fin-logo {
  margin-top: -7vh;
}

.footer, .footer-running-line {
  text-decoration: none;
  width: 40vw;
  display: block;
  text-align: center;
  /* width: 400px; */
  background-color: white;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  border-bottom: 1px solid black;
  align-self: center;
  z-index: 20;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}

.footer-running-line {
    background-color: #662483;
}

.footer:after, .footer-running-line:after {
  display: block;
  content: "";
  height: 1.5px;
  margin-top: 6px;
  width: 0%;
  background-color: black;
  transition: width .3s ease-in-out;
}

.footer:hover:after,
.footer:focus:after,
.footer-running-line:hover:after,
.footer-running-line:focus:after {
    width: 100%;
}

iframe.after-effect {
  margin: 0 auto;
  width: 64vw;
  height: 75vh;
  margin-top: 100px;
  margin-bottom: 100px;
}













@media all and (max-width: 1440px) {
  .connector {
    margin-top: 36%;
  }

  h6 {
    margin-top: 22vh;
  }

  h6.top {
    margin-top: -1vh;
  }

  h6.fin-logo {
    margin-top: -6vh;
    /* margin-top: 6vh; */
    margin-left: 48vw;
  }


}
